html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 2px;
}

.gallery_image {
  display: flex;
  width: 250px;
  height: 260px;
  overflow: hidden;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
